html, body, {
  font-family: sans-serif;
  padding:0;
  margin:0;
}

p {
  font-size: 1.22em;
}

h1, h2, h3, h4, p {
  color: #3A3939;
  font-family: sans-serif;
  margin:24px 0;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 30px;
}

.bar {
  height: 64px;
  margin: 0 24px;
}

.align-items-center {
  align-items: center;
}

.display-flex {
  display: flex;
}

.center {
  text-align: center;
}

.grey {
  color: grey!important;
}

.font-weight-bold {
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

.flex-end {
  justify-content: flex-end;
}

.width-60 {
  width: 60%;
}

.margin {
  margin: 32px 24px;
}

.background-color {
  background-color: lightgrey;
}

.border-top {
  border-top: 1px solid lightgrey;
}

.font-46 {
  font-size: 46px;
}

.width-80 {
  width: 80%;
}

.white {
  color: white!important;
  background-color: #3A3939!important;
}

.padding-8 {
  padding:8px;
}

.large-heading {
  font-size: 56px;
}

.width-40 {
  width: 40%;
}

.border-left {
  border-left:1px solid lightgrey;
}

.border-bottom {
  border-bottom: 1px solid lightgrey;
}

.border-top {
  border-top: 1px solid lightgrey;
}

.padding-top-bottom {
  padding: 32px 0;
}

.flex-column {
  flex-direction: column;
}

.width-35 {
  width: 35%;
}

.margin-16 {
  margin: 16px!important;
}

.margin-top-0 {
  margin-top:0!important;
}


.height-30 {
  height: 30%;
}

 .blue {
   color: blue;
 }

.heading {
  font-size: 41px;
}

.content3 {
  background-color: #DBDBDB;
}

.margin-0 {
  margin:0!important;
}

.side-margin {
  margin:0 56px;
}

.height-auto {
  height: auto;
}

.background-white {
  background-color: white;
}

.margin-word {
  margin: 24px 24px;
}

.padding-top {
  padding-top: 32px;
}

.course {
  margin: 32px 16px;
}

.flex-shrink {
  flex-shrink: 2;
}

.course h1, .course p  {
  margin: 16px;
}

.course p {
  color: grey;
  font-size: 1.35em
}

.flex-grow {
  flex-grow:1;
}

.margin-video {
  margin: 0 24px;
}

.padding-16 {
  padding: 16px;
}

.border-end {
  border-bottom: 2px solid lightgrey;
}

#footer {
  margin: 16px 24px;
}

.larger-p {
  font-size:1.265em;
}
